/* Saúl Quintero's Portfolio
1. LAYOUT
2. GENERIC ITEMS
3. PARTS OF WEB
4. LIST
5. FORM
6. ANIMATIONS

COLORS:
#30BCED BLUE - LINKS
#303036 GRAY
#FFFAFF WHITE
#FC5130 ORANGE
#050401 BLACK
*/
/* 1.----------- LAYOUT ---------------------*/
header {	
	min-height: 400px;
	height: 100vh;
}
header img {
	vertical-align: middle;
	float: right;
}
header .knife {
	min-height: 400px;
	height: 100vh;
}
header .text {
	min-height: 400px;
	height: 100vh;	
}
header #buttonHeader {
	width: 150px;
	border-radius: 0px;
	margin-bottom: 30px;
}

#saul{
	min-height: 400px;
	padding-bottom: 50px;
}

#saul .text  {
	min-height: 300px;
	
}

#saul .image .about {
	max-width: 50%;
	max-height: 100%;
}

#saul .image  {
	text-align: center;
}

#projects {
	min-height: 400px;
	padding-bottom: 50px;
}

#socials {
	min-height: 400px;
	padding-bottom: 50px;
}

#contact {
	height: 90vh;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
section {
	padding-top: 50px;
}



@media all and (max-width: 767px){
	header {	
		height: initial;
		padding-top: 60px;
	}
	header img {
		width: 30%;
		margin: 0px auto;
		float: none;
	}
	header .knife {
		min-height: initial;
		height: initial;	
	}
	header .text {
		min-height: initial;
		height: initial;	
		text-align: center;
		margin: 0px auto;
	}
	header .vertical-align {
		position: initial;
		top: initial;
		transform: initial;
	}

/*	.vertical-align {
		position: unset;
		top: unset;
		transform: none;
	}*/

}





/* 2.----------- GENERIC ITEMS ---------------------*/
body{
	background-color: #FFFAFF;
	font-family: 'Ubuntu', sans-serif;
	color: #303036;
	font-size: 14px;
}
h1,h2,h3,h4 {
	font-weight: 100;
	color: #FC5130;
}
h1{
	color: #303036;
}
a{
	color: #30BCED;
}
a:hover, a:focus {
	color: #30BCED;
	text-decoration: none;
	font-weight: bold;
}
.navbar-default {
	background-color: rgba(5,4,1,.7);
	border-color: transparent;
}
.navbar-default .navbar-brand {
	padding: 5px;	
}
.navbar-default .navbar-nav li a {
	color: #FFFAFF;
}
.navbar-default .navbar-nav li a:hover {
	color: #FFFAFF;
	background-color: #30BCED;
}
.navbar-default .navbar-nav li a:visited {
	color: #FFFAFF;
}
header a.btn:hover {
	background-color: rgba(252,81,48,0.5); 
}

#saul{
	background-color: #303036;
	color: #FFFAFF;
}

#saul .image .about {
	border-radius: 50%;
}

#projects img {
	
	max-width: 50%;
	margin: 0 auto;
	border: #FC5130 5px solid;
	border-radius: 50%;
}
#projects h3 {
	text-align: center;
}
#projects h2 {
	margin-bottom: 30px;
}

#projects a img {
	-webkit-transition: all 0.6s ease; /* Safari and Chrome */
  	-moz-transition: all 0.6s ease; /* Firefox */
  	-o-transition: all 0.6s ease; /* IE 9 */
  	-ms-transition: all 0.6s ease; /* Opera */
  	transition: all 0.6s ease;
}

#projects a:hover img  {
	 -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
}
#projects .item {
	margin-bottom: 30px;
}

#socials {
	background-color: #FC5130;
}

#socials h2 {
	color: #FFFAFF;	
}

#socials .container {
	min-height: 300px;
}
#socials .row {
	height: 300px;
	text-align: center;
}

#socials a.aboutme {
	margin-top: 100px;
	font-size: 3em;
	font-weight: bolder;
	color: #FFFAFF;
	overflow-wrap: break-word;
}
#socials a.icons {
	margin-top: 100px;
	font-size: 3em;
	font-weight: bolder;
	color: #FFFAFF;
}

#socials i {
	-webkit-transition: all 0.6s ease; /* Safari and Chrome */
  	-moz-transition: all 0.6s ease; /* Firefox */
  	-o-transition: all 0.6s ease; /* IE 9 */
  	-ms-transition: all 0.6s ease; /* Opera */
  	transition: all 0.6s ease;
}

#socials ul li {
	margin-left: 30px;
}

#socials i:hover {
	 -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

@media all and (max-width: 767px){
	#socials a.aboutme {
		font-size: 2em;	
	}
}

@media all and (max-width: 340px){
	#projects h3 {
		font-size: 1.5em;	
	}

	#socials a.aboutme {
		font-size: 1.5em;	
	}
}


/* 3.----------- PARTS OF WEB ---------------------*/

/* 4.----------- LIST ---------------------*/

/* 5.----------- FORM ---------------------*/

/* 6.----------- ANIMATIONS ---------------------*/
.navbar-default .navbar-nav li a:hover {
	-webkit-transition: linear 200ms;
	-moz-transition: linear 200ms;
	-ms-transition: linear 200ms;
	-o-transition: linear 200ms;
	transition: linear 200ms;
}