/* Saúl Quintero's Portfolio
1. LAYOUT
2. GENERIC ITEMS
3. PARTS OF WEB
4. LIST
5. FORM
6. ANIMATIONS

COLORS:
#30BCED BLUE - LINKS
#303036 GRAY
#FFFAFF WHITE
#FC5130 ORANGE
#050401 BLACK
*/
/* 1.----------- LAYOUT ---------------------*/
header {	
	min-height: 400px;
	height: 100vh;
}
header img {
	vertical-align: middle;
	float: right;
}
header .knife {
	min-height: 400px;
	height: 100vh;
}
header .text {
	min-height: 400px;
	height: 100vh;	
}
header #buttonHeader {
	width: 150px;
	border-radius: 0px;
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
section {
	padding-top: 50px;
}



@media all and (max-width: 767px){
	header {	
		height: initial;
		padding-top: 60px;
	}
	header img {
		width: 30%;
		margin: 0px auto;
		float: none;
	}
	header .knife {
		min-height: initial;
		height: initial;	
	}
	header .text {
		min-height: initial;
		height: initial;	
		text-align: center;
		margin: 0px auto;
	}
	.vertical-align {
		position: initial;
		top: initial;
		transform: initial;
	}
}





/* 2.----------- GENERIC ITEMS ---------------------*/
body{
	background-color: #FFFAFF;
	font-family: 'Ubuntu', sans-serif;
	color: #303036;
	font-size: 14px;
}
h1,h2,h3,h4 {
	font-weight: 100;
	color: #FC5130;
}
h1{
	color: #303036;
}
h2{

}
h3 {

}
h4{

}
a{
	color: #30BCED;
}
a:hover, a:focus {
	color: #30BCED;
	text-decoration: none;
	font-weight: bold;
}
.navbar-default {
	background-color: rgba(5,4,1,.7);
	border-color: transparent;
}
.navbar-default .navbar-brand {
	padding: 5px;	
}
.navbar-default .navbar-nav li a {
	color: #FFFAFF;
}
.navbar-default .navbar-nav li a:hover {
	color: #FFFAFF;
	background-color: #30BCED;
}
.navbar-default .navbar-nav li a:visited {
	color: #FFFAFF;
}
header a.btn:hover {
	background-color: rgba(252,81,48,0.5); 
}


/* 3.----------- PARTS OF WEB ---------------------*/

/* 4.----------- LIST ---------------------*/

/* 5.----------- FORM ---------------------*/

/* 6.----------- ANIMATIONS ---------------------*/
.navbar-default .navbar-nav li a:hover {
	-webkit-transition: linear 200ms;
	-moz-transition: linear 200ms;
	-ms-transition: linear 200ms;
	-o-transition: linear 200ms;
	transition: linear 200ms;
}